/* .btn-container {
    width: 100%;
    margin: auto;
}

.lang-btn {
    width: 13rem;
    margin: 0.5rem;
}

.selected-btn {
    color: #fff;
    background-color: #1677ff;
}

.selected-btn:hover {
    color: #fff;
    background-color: #1677ff;
} */